*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Section */

.nav-content{
    display: flex;
    justify-content: space-around;
    background-color: rgb(177, 171, 171);
    padding: 20px;
    align-items: center;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 40px;
    font-size: 25px;
}
nav li:hover{
    background-color: lightgray;
    color: tomato;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

/* Main Section */

/* Main 1st Part */

.main-section{
    height: 100vh;
    background-image: url('./asset/image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}