*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Nav Section */

.nav-content{
    display: flex;
    justify-content: space-around;
    background-color: rgb(177, 171, 171);
    padding: 20px;
    align-items: center;
}
.nav-item{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 40px;
    font-size: 25px;
}
nav li:hover{
    background-color: lightgray;
    color: tomato;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
}

/* Main Section */

/* Main 1st Part */

.main-section{
    height: 100vh;
    background-image: url('./asset/image/background.jpg'),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    text-align: center;
}

.main-content-heading{
    font-size: 80px;
    font-weight: 800;
    color: white;
}
.main-content-description{
    width: 50%;
    margin: auto;
    font-size: 25px;
    color: white;
}
.primary-button{
    padding: 10px 25px;
    font-size: 20px;
    background-color: tomato;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.two{
    background-color: white;
    color: black;
}
span{
    color: tomato;
}

/* Main 2nd Part */

.service-container{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-image: url("./asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    color: white;
    align-items: center;
    padding:20px;
}

.service-heading{
    font-size: 40px;
    margin: 20px;
}
.service-list{
    font-size: 25px;
    margin: 30px;
}

.author{
    display: flex;
}
.author-details{
    display: flex;
    align-items: center;
    border-right: 5px solid tomato;
}
.author-button{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}
.author-details{
    padding: 20px;
}
.author-details img{
    width: 100px;
    border-radius: 50px;
}
.author-primary-button{
    padding: 10px 25px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 40px;
}
.inner-box img{
    width:100px ;
}
.box-item{
    color: black;
    height: 190px;
    width: 230px;
    background-color:white;
    border: 2px solid white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 20px;
}
.boxes{
    display: flex;
    gap: 5px;
}

/* Main 3rd Part */
.appointment{
    display: flex;
    justify-content: center;
    padding: 60px 80px;
    align-items: center;
    width: 70%;
    margin: auto;
    background-color: tomato;
    border-radius: 20px;
    margin-top:-100px;
}
.phone-call{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid grey;
    padding-right: 20px;
}
.phone-call img{
    width: 80px;
}
.phone-call h3{
    font-size: 30px;
} 
.appointment-heading{
    font-size: 10px;
}
.appointment-description{
    font-size: 15px;
    padding: 0px 30px;
    margin: auto;
}

/* Main 4th Part */

.blog-container{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
    margin-top: 40px;
}
.blog-container h1{
    font-size: 45px;
    font-weight: 600;
}
.blog-container p{
    font-size: 25px;
}

/* Main 5th Part */


.card{
    display: flex;
    justify-content: space-around;
}
.card-item{
    height: 500px;
    width: 400px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px 10px 15px grey;
}
.card-item img{
    width: 100%;
}
.card-description{
    padding: 20px;
}
.card-image{
    border-radius:10px ;
}
.card-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.card-item p{
    font-size: 20px;
}

/* Footer Section */